body{
    max-width: 100%;
}

.contenedor{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.card{
    background-color: rgba(236, 236, 236, 0.31);
    padding: 5px;
    height: 250px;
    width: 120px;
}

.card-img-top{ 
    margin: 0 auto;
    position: relative;
    left: 10%;
}

table{
    border: 1px solid black;
}

}
.input-dias{
    width: calc(100%/1);
    height: auto;
    resize: none;
    overflow-x: auto;
}

/*.card:hover{
    background-color: rgb(182, 177, 171);
    opacity: 1.3;
    transform: scale(1.03);
}*/

.p-inline{
    display: inline;
}

.text-center{
    text-align: center;
    margin-right: 5px;
}

.card-contenedora{
    position: relative;
}

@media screen and (max-width: 908px) {
    .contenedor{
        justify-content: center;
    }
  }

  @media screen and (max-width: 398px) {
    .contenedor{
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: calc(100%/2);
        align-items: center;
    }
table{
    display:none;
}
      
    .card{
        width: 100%;
    }

    .card-img-top{
        width: 120px;
        margin: auto;
    }
    
    .contenedorInput{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .line-text{
        display: flex;
        flex-direction: row;
    }
  }
 

/* Estilos para los textos con líneas */
.line-text {
    display: flex;
    align-items: center;
}

span{display: none;}

.line-text input[type="number"] {
    border: none;
    border-bottom: 1px solid #000;
    width: 50px;
    margin-left: 5px;
    text-align: center;
}

.form-control{
    display: none;
}
.card-img-top{
    margin: auto;
    width: 100px;
}

.seleccionar{
    display: inline-block;
}

.btn{
    outline: 1px solid black;
    margin-bottom: 5px;
}

.btn:checked{
    border: none;
}

.Seleccionar{
    margin-left: 5px;
}


@media (min-width: 800px) and (max-width: 1450px){
.card{
    width:90px;
    margin: 10px;
    padding: 10px;
}


@media (max-width: 575.98px){
    .card{
    width:90px;
    margin: 10px;
    padding: 10px;
    }
    .line-text{
        display: flex;
        align-items: center;
        flex-dirección: column;
    }
}

table {
    width: 100%;
    overflow-x: auto;
}
